.header-nav {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: #000;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #000;
    width: 60vw;
    max-width: 600px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search {
    display: flex;
    gap: 40px;
}

.select-type {
    border-radius: 10px;
    border: 0;
    background-color: #fafafafa;
    padding: 0 10px;
    transition: background-color 0.3s;
}

.select-type:hover {
    cursor: pointer;
    background-color: #aaa;
}

.select-type:focus {
    outline: none
}

.input-search {
    border-radius: 10px;
    border: 0;
}

.input-search:focus {
    outline: none;

}

.search a {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.search a p {
    color: #fff;
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search a img {
    height: 80px;
    aspect-ratio: 53/80;
    object-fit: cover;
}